<div class="main-container">
	<div class="left-menu">
	    <a routerLink='syllabus'>Syllabus</a>
	     <p class="collapsible">DataStructure</p>
		<div class="c-content">
			<a routerLink='datastructure/overview'>Overview</a>
		    <a routerLink='datastructure/string'>String</a>
		    <a routerLink='datastructure/list'>List</a>
		    <a routerLink='datastructure/tuple'>Tuple</a>
		    <a routerLink='datastructure/tuple'>Tuple</a>
		</div>
	    
	    <p class="collapsible">Operators</p>
		<div class="c-content">
		  <a>Lorem ipsum...</a>
		</div>

		<p class="collapsible">Loop</p>
		<div class="c-content">
		  <a>For-Loop</a>
		  <a>While-Loop</a>
		</div>

		<p class="collapsible">Functions</p>
		<div class="c-content">
		  <a>Creation of Function</a>
		  <a>Passing Paramters</a>
		  <a>*args and **kwargs</a>
		  <a>Recurcive Function</a>
		  <a>Lambda</a>
		</div>

		<p class="collapsible">One Liner</p>
		<div class="c-content">
		  <a>List comprehension</a>
		  <a>Dictionary comprehension</a>
		  <a>Generator comprehension</a>
		</div>

		<p class="collapsible">Generators</p>
		<div class="c-content">
		  <a>Map</a>
		  <a>Filter</a>
		  <a>Zip</a>
		  <a>Enumerate</a>
		</div>

	</div>
	<div class="content">
	  	<router-outlet></router-outlet>
	</div>
  
    <!-- <div class="right-menu">
   
    </div> -->
</div>
