<div>
 <div class="title-bar">
    <div class="hamburger" onclick="hamburger_1('show')">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <h1 class="title">
      NightFury
    </h1>
    <div class="three-dots" onclick='toptobottom()'>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
    </div>
 </div>


<div class="parent" id="side_nav">
  <p class="close" onclick="hamburger_1('hide')">&times;</p>
   <div class="side-nav"  onclick="hamburger_1('hide')">
    <div class="side-nav-container">
      <app-nav class="small-screen"></app-nav>
    </div>
  </div>
</div>

</div>

<app-nav class="large-screen"></app-nav>
<router-outlet></router-outlet>

<!-- <footer>
  <div>
    <h1>Course</h1>
    <a routerLink='python/syllabus'>Python</a>
    <a routerLink='javascript'>Javascript</a>
  </div>
  <div>
    <h1>Databases</h1>
    <a routerLink='database'>Introduction</a>
  </div>
  <div>
    <h1>Articals</h1>
    <a routerLink='articals/laptop'>tips to buy laptop</a>
    <a routerLink='articals/laptop'>website theme </a>
  </div>
  
</footer> -->